.reference a { text-decoration: none; }
.reference a:hover { color: cornflowerblue; }

.rotate-group {
  position: relative;
}


.perspective { perspective: 300px; }

/*.rotate-x {
  -webkit-transform: rotateX(360deg);
  transform: rotateX(360deg);
}*/

.rotate-group:hover .rotate-x {
  -webkit-animation: animate-x 5s infinite linear;
  animation: animate-x 5s infinite linear;
}

/*.rotate-y {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}*/

.rotate-group:hover .rotate-y {
  -webkit-animation: animate-y 5s infinite linear;
  animation: animate-y 5s infinite linear;
}

/*.rotate-z {
  -webkit-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}*/
.rotate-group:hover .rotate-z {
  -webkit-animation: animate-z 5s infinite linear;
  animation: animate-z 5s infinite linear;
}

.cube {
  display: inline-block;
  position: relative;
  margin: 25px;
  height: 130px;
  width: 130px;
}

.cube img { padding: 5px; }

.white .cube:hover img { border: 2px dashed black; border-radius: 5px; }
.blue .cube:hover img { border: 2px dashed white; border-radius: 5px; }

@-webkit-keyframes animate-y {
  0% { -webkit-transform: rotateY(0); }
  100% { -webkit-transform: rotateY(360deg); }
}

@keyframes animate-y {
  0% { transform: rotateY(0); }
  100% { transform: rotateY(360deg); }
}

@-webkit-keyframes animate-x {
  0% { -webkit-transform: rotateX(0); }
  100% { -webkit-transform: rotateX(360deg); }
}

@keyframes animate-x {
  0% { transform: rotateX(0); }
  100% { transform: rotateX(360deg); }
}

@-webkit-keyframes animate-z {
  0% { -webkit-transform: rotateZ(0); }
  100% { -webkit-transform: rotateZ(360deg); }
}

@keyframes animate-z {
  0% { transform: rotateZ(0); }
  100% { transform: rotateZ(360deg); }
}



.rotate-group span {
  padding: 1px 0;
  opacity: 0.2;
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
  transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}

.rotate-group .cube:hover span { opacity: 1; }


/* MODAL */
.modal, .my-code { display: none; }

.m-backdrop {
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.m-content {
  background-color: #f0f0f0;
  position: fixed;
  left: 50%;
  width: 500px;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  border: 1px solid white;
  border-radius: 4px;
  z-index: 2;
}

.modal-close {
  position: absolute;
  top: 0px;
  right: 7px;
  font-size: 27px;
  font-weight: bold;
  cursor: pointer;
  color: lightgray;
}

.modal-close:hover { color: gray; }
.text-close {
  color: gray;
  font-size: 27px;
  font-weight: bold;
}

.modal-text {
  text-align: center;
  width: inherit;
  font-size: 20px;
  padding-top: 30px;
  color: #31374F;
}

/*.modal-text ol { list-style: none; margin: 0 auto; }*/
.modal-text ol { margin: 20px 60px; }
.modal-text ol li { text-align: left; line-height: 26px; }

.my-button-dark {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  background: #31374F;
}

.my-button-dark:hover { background-color: #1A1E2C; cursor: pointer; }

.show-modal { margin: 0 auto; display: block; }

.my-button-light {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: #31374F;
  background: #fff;
  background-image: -webkit-radial-gradient(center top, circle farthest-corner, #FFF 0%, #D8DFE9 100%);
  background-image: radial-gradient(circle farthest-corner at center top, #FFF 0%, #D8DFE9 100%);
}

.my-button-light:hover { color: cornflowerblue; cursor: pointer; }

.toggle-code { margin: 15px auto; display: block; }

.my-button-light:focus, .my-button-dark:focus { outline: none; }

.modal-button {
  position: absolute;
  left: 50%;
  bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
  transform: translateX(-50%);
  /*padding: 20px;*/
  /*font-size: 28px;*/
}


/* 3D with axes */

#logos {
  /*position:absolute;  top: 0px;  left: 150px;*/
  -webkit-perspective: 800px;   perspective: 800px;

}
#cube {
  /*display: block;  position: relative;  margin: 30px auto;*/
  height: 120;  width: 120;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
  transform-style: preserve-3d;
  transform: rotateX(0) rotateY(0) rotateZ(0);
}
#front {
  position: absolute;  height: 120;  width: 120;
  -webkit-backface-visibility: visible;
  -webkit-transform:  translateZ(100px);
  backface-visibility: visible;
  transform:  translateZ(100px);
}
#back {
  position: absolute;  height: 120;  width: 120;
  -webkit-backface-visibility: visible;
  -webkit-transform:  rotateY(180deg) translateZ(100px);
  backface-visibility: visible;
  transform:  rotateY(180deg) translateZ(100px);
}
#cube:hover {
-webkit-animation: animate-y 5s infinite linear;
animation: animate-y 5s infinite linear;
}

#xaxis {
  -moz-transform-style: preserve-3d;
  -moz-transform: translate(-50%, -50%) translate3d(0px, 0, 0);
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate(-50%, -50%) translate3d(0px, 0, 0);
  -ms-transform-style: preserve-3d;
  -ms-transform: translate(-50%, -50%) translate3d(0px, 0, 0);
  -o-transform-style: preserve-3d;
  -o-transform: translate(-50%, -50%) translate3d(0px, 0, 0);
  transform-style: preserve-3d;
  transform: translate(-50%, -50%) translate3d(0px, 0, 0);
  border-bottom: black 1px solid;
  color: blue;
  width: 240px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 2px;
}

#yaxis {
  -moz-transform-style: preserve-3d;
  -moz-transform: rotateZ(-90deg) translate(-50%, -50%) translate3d(0, 0, 0px);
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateZ(-90deg) translate(-50%, -50%) translate3d(0, 0, 0px);
  -ms-transform-style: preserve-3d;
  -ms-transform: rotateZ(-90deg) translate(-50%, -50%) translate3d(0, 0, 0px);
  -o-transform-style: preserve-3d;
  -o-transform: rotateZ(-90deg) translate(-50%, -50%) translate3d(0, 0, 0px);
  transform-style: preserve-3d;
  transform: rotateZ(-90deg) translate(-50%, -50%) translate3d(0, 0, 0px);
  border-bottom: green 1px solid;
  color: green;
  width: 240px;
  display: block;
  position: absolute;
  top: -50%;
  right: -50%;
  height: 2px;
}

#zaxis {
  -moz-transform-style: preserve-3d;
  -moz-transform: rotateY(90deg) translate3d(0, 0, -120px);
  -ms-transform-style: preserve-3d;
  -ms-transform: rotateY(90deg) translate3d(0, 0, -120px);
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateY(90deg) translate3d(0, 0, -120px);
  -o-transform-style: preserve-3d;
  -o-transform: rotateY(90deg) translate3d(0, 0, -120px);
  transform-style: preserve-3d;
  transform: rotateY(90deg) translate3d(0, 0, -120px);
  border-bottom: red 1px solid;
  color: red;
  width: 240px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 2px;
}

#cube {
  display: block;
  position: relative;
  margin: 30px auto;
  height: 120px;
  width: 120px;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
  transform-style: preserve-3d;
  transform: rotateX(0) rotateY(0) rotateZ(0);
  background: rgba(0, 0, 80, 0.5);
  text-decoration: none;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
  -moz-transform: rotateX(0) rotateY(0) rotateZ(0);
  -ms-transform: rotateX(0) rotateY(0) rotateZ(0);
  -o-transform: rotateX(0) rotateY(0) rotateZ(0);
  transform: rotateX(0) rotateY(0) rotateZ(0);
  background-image: url("octocat-white-120.png");
  background-blend-mode:luminosity;
}
