.reference a { text-decoration: none; }
.reference a:hover { color: cornflowerblue; }

.rotate-group { position: relative; }

.perspective { perspective: 300px; }

.rotate-group:hover .rotate-x {
  -webkit-animation: animate-x 5s infinite linear;
  animation: animate-x 5s infinite linear;
}

.rotate-group:hover .rotate-y {
  -webkit-animation: animate-y 5s infinite linear;
  animation: animate-y 5s infinite linear;
}

.rotate-group:hover .rotate-z {
  -webkit-animation: animate-z 5s infinite linear;
  animation: animate-z 5s infinite linear;
}

.cube {
  display: inline-block;
  position: relative;
  margin: 25px;
  height: 130px;
  width: 130px;
}

.cube img { padding: 5px; }

.white .cube:hover img { border: 2px dashed black; border-radius: 5px; }
.blue .cube:hover img { border: 2px dashed white; border-radius: 5px; }

@-webkit-keyframes animate-y {
  0% { -webkit-transform: rotateY(0); }
  100% { -webkit-transform: rotateY(360deg); }
}

@keyframes animate-y {
  0% { transform: rotateY(0); }
  100% { transform: rotateY(360deg); }
}

@-webkit-keyframes animate-x {
  0% { -webkit-transform: rotateX(0); }
  100% { -webkit-transform: rotateX(360deg); }
}

@keyframes animate-x {
  0% { transform: rotateX(0); }
  100% { transform: rotateX(360deg); }
}

@-webkit-keyframes animate-z {
  0% { -webkit-transform: rotateZ(0); }
  100% { -webkit-transform: rotateZ(360deg); }
}

@keyframes animate-z {
  0% { transform: rotateZ(0); }
  100% { transform: rotateZ(360deg); }
}

.rotate-group span {
  padding: 1px 0;
  opacity: 0.2;
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
  transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}

.rotate-group .cube:hover span { opacity: 1; }


/* MODAL */

.modal, .my-code { display: none; }

.m-backdrop {
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 1;
}

.m-content {
  background-color: #f0f0f0;
  position: fixed;
  left: 50%;
  width: 500px;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  border: 1px solid white;
  border-radius: 4px;
  z-index: 2;
}

.modal-close {
  position: absolute;
  top: 0px;
  right: 7px;
  font-size: 27px;
  font-weight: bold;
  cursor: pointer;
  color: lightgray;
}

.modal-close:hover { color: gray; }

.modal-text {
  text-align: center;
  width: inherit;
  font-size: 20px;
  padding-top: 30px;
  color: #31374F;
}

.modal-text ol { margin: 20px 60px; }
.modal-text ol li { text-align: left; line-height: 26px; }

.my-button-dark {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  background: #31374F;
}

.my-button-dark:hover { background-color: #1A1E2C; cursor: pointer; }

.show-modal { margin: 0 auto; display: block; }

.my-button-light {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: #31374F;
  background: #fff;
  background-image: -webkit-radial-gradient(center top, circle farthest-corner, #FFF 0%, #D8DFE9 100%);
  background-image: radial-gradient(circle farthest-corner at center top, #FFF 0%, #D8DFE9 100%);
}

.my-button-light:hover { color: cornflowerblue; cursor: pointer; }

.toggle-code { margin: 15px auto; display: block; }

.my-button-light:focus, .my-button-dark:focus { outline: none; }

.modal-button {
  position: absolute;
  left: 50%;
  bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
  transform: translateX(-50%);
}

.demo-button {
  padding: 70px;
  margin: 0 90px;
  border: 2px dashed white;
  border-radius: 5px;
}


/* 3D with axes */

#logo {
  -webkit-perspective: 400px;
  perspective: 400px;
}

#cube, #front, #back {
  height: 120px;
  width: 120px;
}

#cube {
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
  transform-style: preserve-3d;
  transform: rotateX(0) rotateY(0) rotateZ(0);
}

#front, #back {
  position: absolute;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

#front {
  -webkit-transform: translateZ(100px);
  transform: translateZ(50px);
}

#back {
  -webkit-transform: rotateY(180deg) translateZ(100px);
  transform: rotateY(180deg) translateZ(50px);
}

#cube:hover {
-webkit-animation: animate-y 5s infinite linear;
animation: animate-y 5s infinite linear;
}

#cube:hover #xaxis, #cube:hover #yaxis, #cube:hover #zaxis { opacity: 1; }

#cube {
  display: block;
  position: relative;
  margin: 30px auto;
  background: rgba(0, 0, 80, 0.5);
  text-decoration: none;
  -webkit-transform: rotate(0, 0, 0);
  -moz-transform: rotate(0, 0, 0);
  -ms-transform: rotate(0, 0, 0);
  -o-transform: rotate(0, 0, 0);
  transform: rotate(0, 0, 0);
  background-image: url("octocat-white-120.png");
  background-blend-mode: luminosity;
}

#cube, #xaxis, #yaxis, #zaxis {
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#xaxis, #yaxis, #zaxis {
  opacity: 0.2;
  width: 240px;
  display: block;
  position: absolute;
  height: 2px;
}

#xaxis {
  -moz-transform: translate(-50%, -50%) translate3d(0px, 0, 0);
  -webkit-transform: translate(-50%, -50%) translate3d(0px, 0, 0);
  -ms-transform: translate(-50%, -50%) translate3d(0px, 0, 0);
  -o-transform: translate(-50%, -50%) translate3d(0px, 0, 0);
  transform: translate(-50%, -50%) translate3d(0px, 0, 0);
  border-bottom: blue 1px solid;
  color: blue;
  top: 50%;
  left: 50%;
}

#yaxis {
  -moz-transform: rotateZ(-90deg) translate(-50%, -50%) translate3d(0, 0, 0px);
  -webkit-transform: rotateZ(-90deg) translate(-50%, -50%) translate3d(0, 0, 0px);
  -ms-transform: rotateZ(-90deg) translate(-50%, -50%) translate3d(0, 0, 0px);
  -o-transform: rotateZ(-90deg) translate(-50%, -50%) translate3d(0, 0, 0px);
  transform: rotateZ(-90deg) translate(-50%, -50%) translate3d(0, 0, 0px);
  border-bottom: green 1px solid;
  color: green;
  top: -50%;
  right: -50%;
}

#zaxis {
  -moz-transform: rotateY(90deg) translate3d(0, 0, -120px);
  -ms-transform: rotateY(90deg) translate3d(0, 0, -120px);
  -webkit-transform: rotateY(90deg) translate3d(0, 0, -120px);
  -o-transform: rotateY(90deg) translate3d(0, 0, -120px);
  transform: rotateY(90deg) translate3d(0, 0, -120px);
  border-bottom: red 1px solid;
  color: red;
  top: 50%;
  left: 50%;
}



pre { font-size: 0.9em; }


/* flip card */

#flip-card .container {
  height: 130px;
  width: 130px;
  outline: none;
  border: 2px dashed rgba(49, 55, 79, 0.5);
  padding: 3px;
}

#card {
  width: 120px;
  height: 120px;
  position: absolute;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: right center;
  -moz-transform-origin: right center;
  -o-transform-origin: right center;
  transform-origin: right center;
}

#card .front {
  background: cornflowerblue;
  border-radius: 50%;
  border: 2px solid black;
  background-image: url("octocat-black-120.png");
  background-position: center;
}

#card .back {
  background: black;
  border-radius: 50%;
  border: 2px solid cornflowerblue;
  background-image: url("octocat-blue-120.png");
  background-position: center;
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

#card span {
  font-family: 'Slabo 27px', serif;
  display: block;
  height: 100%;
  width: 100%;
  line-height: 120px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

#card .front { color: black; }
#card .back { color: cornflowerblue; }

#card:hover {
  -webkit-transform: translateX( -100% ) rotateY( -180deg );
  -moz-transform: translateX( -100% ) rotateY( -180deg );
  -o-transform: translateX( -100% ) rotateY( -180deg );
  transform: translateX( -100% ) rotateY( -180deg );
}



/* flip up/down left/right */
.card-container {
    margin: 0 25px;
    width: 220px;
    height: 160px;
    border: 2px dashed rgba(49, 55, 79, 0.5);
    border-radius: 5px;
    -webkit-perspective: 800px;
    perspective: 800px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: inline-block;

}

.card {
    position: relative;
    height: 100%;
    -webkit-transition: .6s;
    transition: .6s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

/* flip class added with javascript on click */
.card-container.flip .front {
    /* For IE10 you have to animate each face separately. */
    /* Isnt great on low end devices because */
    /* they can animate at different times */
    /* IE9 does not support CSS animations */
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.card-container.flip .back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.card .front,
.card .back {
    margin: -2px;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    border-radius: 5px;
    background-color: #4472b9;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: .6s;
    transition: .6s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.card .front {
    /* z-index so front card stays above back */
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.card .back {
    background-color: #be4c39;
    /* back, initially hidden */
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}


/* vertical flip */

.card.vertical .front { background-color: #4ca454; }

.card.vertical .back { background-color: #9351a6; }

.card.vertical .back {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.card-container.flip .vertical .front {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
}
.card-container.flip .vertical .back {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}


.card-container h2 {
  color: white;
  line-height: 110px;
}

.card .icon { background-repeat: no-repeat; }

.card .front .icon {
  color: white;
  background-image: url("glyphicons/white/glyphicons-224-chevron-right.png");
  margin: 0 auto;
  width: 15px;
  height: 22px;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

.card .back .icon {
  color: white;
  background-image: url("glyphicons/white/glyphicons-225-chevron-left.png");
  margin: 0 auto;
  width: 15px;
  height: 22px;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

.card.vertical .front .icon {
  color: white;
  background-image: url("glyphicons/white/glyphicons-602-chevron-down.png");
  margin: 0 auto;
  width: 22px;
  height: 15px;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

.card.vertical .back .icon {
  color: white;
  background-image: url("glyphicons/white/glyphicons-601-chevron-up.png");
  margin: 0 auto;
  width: 22px;
  height: 15px;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
